*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
    height: 100%;
    height: 100dvh;
    background-color: var(--bg-pure);
    color: var(--text-main);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* Removed padding here. We only want padding on the view layer to maximize mobile width */
}

button, input { font: inherit; color: inherit; background: transparent; border: none; outline: none; }
button { cursor: pointer; }

.app-container {
    width: 100vw;
    max-width: 700px; /* Allows wide expansion on PC */
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-pure);
}

.view {
    display: none; 
    flex: 1;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px 10px; /* Just 10px on the sides pushes the app wider to the edges of your phone */
    -ms-overflow-style: none; scrollbar-width: none;
}
.view::-webkit-scrollbar { display: none; }
.view.active { display: flex; }
.hidden { display: none !important; }